body {

  background-color: #7EA2AA; 
}
h4 { color: #8BE8CB;
text-align: center;
  padding-top: 500px;
font-size:75px;
  text-decoration-line: underline;
    text-decoration-color:#888DA7;
  text-decoration-style:solid;
  text-shadow:5px 5px 10px #888DA7;
}
h4:hover{}
nav{
  list-style-type: none;
  position: fixed;
  background-color: rgba(200, 200, 200, .8);
  width: 100%;
  top: 0;
  left: 0;
}

li{
  display: inline;
  padding: 20px;
  float: left;
}
li:hover{
  background-color: blue;
}
a{
  text-decoration: none;
  color: black;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  background-color: rgba(200, 200, 200,);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color:rgba(150, 150, 150);}
